
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>

<div class="error-image">
    <img src="~/Images/Shared/error.png" />
</div>

<div class="error-text alert-warning">
    <h1 class="ui-state-error-text">ERROR!</h1>

    <h3>An error occured when processing your request, please try again.</h3>

</div>